<p>Welcome to Travelog, <%= @user.email%> </p>

<p>Travelog is best place to find great places across Malaysia. We help you to discover and book amazing things to do
</p>

<p>Thanks,</p>
<p>The Travelog Team</p>
