<section class="header-11-sub profile-page">
	<div class="container">
		<div class="row ">
			<div class="col-md-3">
				<ul class="sidebar">
					<li><a href="">About Us</a></li>
					<li><a href="">Founders</a></li>
				</ul>
			</div>

			<div class="col-md-9 aboutus-content">

				<h4>About Us</h4>

				<h6>Founded in August of 2008 and based in San Francisco, California, Airbnb is a trusted community marketplace for people to list, discover, and book unique accommodations around the world — online or from a mobile phone or tablet.<br>
					<br>
					Whether an apartment for a night, a castle for a week, or a villa for a month, Airbnb connects people to unique travel experiences, at any price point, in more than 34,000 cities and 190 countries. And with world-class customer service and a growing community of users, Airbnb is the easiest way for people to monetize their extra space and showcase it to an audience of millions.</h6>
			</div>
		</div>
	</div>
</section>