<div class="stepsForm">
	
		<div class="sf-steps">
		</div>

		<div class="sf-steps-form sf-radius">
		</div>

		<div class="sf-steps-navigation sf-align-right">
			<span id="sf-msg" class="sf-msg-error"></span>
      <button id="sf-prev" type="button" class="sf-button">Back</button>
      <button id="sf-next" type="button" class="sf-button sf-next">Next</button>
		</div>
	
</div>

<style type="text/css">
	.navbar {
		background-color: black;
	}
</style>