<section class="header-11-sub profile-page">
	<div class="container">
		<div class="row ">
			<div class="col-md-3">
				<ul class="sidebar">
					<li><a href="">Getting Started</a></li>
					<li><a href="">Account & Profile</a></li>
					<li><a href="">Hosting</a></li>
					<li><a href="">Traveling</a></li>
					<li><a href="">Reviews</a></li>
					<li><a href="">Business Travel</a></li>
					<li><a href="">Trust & Safety</a></li>
					<li><a href="">Taxes</a></li>
					<li><a href="">Policies</a></li>
					<li><a href="">Contact</a></li>
					<li><a href="">Founders</a></li>
				</ul>
			</div>
			
			<div class="col-md-9 aboutus-content">
				
				<h4>Suggested for You</h4>
				
				
				<a href="#"><h6>Change a reservation as a host</h6></a>
				<a href="#"><h6>Paying for a reservation</h6></a>
				<a href="#"><h6>How does Airbnb process payments?</h6></a>
				<a href="#"><h6>What is Verified ID?</h6></a>
				<a href="#"><h6>What is a cancellation policy?</h6></a>

			</div>
		</div>
	</div>
</section>