<section class="header-11-sub profile-page">
	<div class="container">
		<div class="row ">
			<div class="col-md-3">
				<ul class="sidebar">
					<li><a href="">Airbnb Open</a></li>
					<li><a href="">Groups</a></li>
					<li><a href="">Meetups</a></li>
					<li><a href="">Neighbors</a></li>
					<li><a href="">Governments & Law</a></li>
					<li><a href="">Press</a></li>
					<li><a href="">Terms & Policies</a></li>
				</ul>
			</div>

			<div class="col-md-9 aboutus-content">

				<h4>Cancellations & Refunds</h4>


				<a href="#"><h6>Extenuating Circumstances for Host Cancellations</h6></a>  
				<a href="#"><h6>Extenuating Circumstances for Guest Cancellations</h6></a>  
				<a href="#"><h6>Host Guarantee</h6></a>  
				<a href="#"><h6>Guest Refund Policy </h6></a>                 
				
			</div>
		</div>
	</div>
</section>