<section class="header-11-sub profile-page">
	<div class="container">
		<div class="row ">
			<div class="col-md-3">
				<ul class="sidebar">
					<li><a href="">Travelog News</a></li>
					<li><a href="">Media Resources</a></li>
				</ul>
			</div>

			<div class="col-md-9 aboutus-content">

				<h4>In the News</h4>

				<h6>It's Day 7 of 12 Days!
					Dec 12, 2014
					Airbnb Is Inc.'s 2014 Company of the Year
					Nov 25, 2014
					Retirement Plan: An Airbnb Travel Adventure
					Feb 25, 2015 Meet the Unlikely Airbnb Hosts of Japan
					Feb 18, 2015
					Brian Chesky of Airbnb, on Scratching the Itch to Create
					Oct 11, 2014 The Colbert Report: Brian Chesky
					Aug 07, 2014
				</h6>

				<h4>Press Releases</h4>

				<h6>A Traveler’s Dream - Staying In A Treehouse in Belize City
					Jan 14, 2016 Be the First to Uncover the Next Local Gem: Visit the Top 16 Trending Neighborhoods on Airbnb in 2016
					Jan 07, 2016
					More Than One Million People Will Celebrate New Year’s Eve in 150 Countries on Airbnb
					Dec 17, 2015 Airbnb Helps Boost the Income of 21,000 Danes
					Dec 15, 2015
					New Report Makes Clear: Home Sharing Reduces Carbon Emissions Airbnb Stays Add Up to Measurable Impact on COP21 Country Emission Reduction Goals 
					Dec 11, 2015 In 2016, Extend Your Business Trip to Make it More Like a Vacation with Airbnb 
					Jan 22, 2016
				</h6>

				<h4>Blogs</h4>

				<h6>Visit our Engineering, Travel, and Public Policy blogs.</h6>

				<h4>Inquiries</h4>

				<h6>Contact us at press@airbnb.com.</h6>

			</div>
		</div>
	</div>
</section>