<div class="col-md-3">
	<ul class="sidebar">
	  <li><%= link_to 'Edit Accounts', accounts_path %></li>
	  <li><%= link_to 'Photo Symbol Video', accounts_photo_path %></li>
	</ul>
	<a href="" class="btn btn-block btn-viewprofile">View Accounts</a>
</div>