<ul class="sidebar">
	<li class="<%= 'active' if obj == 'listings' %>"><a href="/products">Your Listings</a></li>
	<li class="<%= 'active' if obj == 'reservations' %>"><a href="/reservations">Your Reservations</a></li>
	<li class="<%= 'active' if obj == 'requirements' %>"><a href="">Reservation Requirements</a></li>
	<li><a href="/products/new">Add New Listings</a></li>
</ul>
<a href="/products/new" class="btn btn-block btn-viewprofile">Add New Listings</a>