<div class="col-md-4">
                     <ul class="sidebar">
                        <li><a href="">Edit Profile</a></li>
                        <li><a href="">Photo Symbol Video</a></li>
                        <li><a href="">Trust and Verification</a></li>
                        <li><a href="">Reviews</a></li>
                        <li><a href="">References</a></li>
                     </ul>
                     <a href="" class="btn btn-block btn-viewprofile">View Profile</a>
                  </div>