<div class="col-md-3">
	<ul class="sidebar">
	  <li><%= link_to 'Edit Profile', profile_path %></li>
	  <li><%= link_to 'Photo Symbol Video', profile_avatar_path %></li>
	  <li><a href="">Trust and Verification</a></li>
	  
	  <li><a href="/products/review">Reviews</a></li>

	  <li><a href="">References</a></li>
	</ul>
	<a href="" class="btn btn-block btn-viewprofile">View Profile</a>
</div>