<style type="text/css">
	.nav-second-profile {    background: #DBDDDE; padding-top:0; z-index:2;}
	.nav-second-profile li.active {font-weight: bold; color:#000;}
	.nav-second-profile .navbar-nav>li>a {
		padding-top: 15px;
		color: #777;
	}
</style>

<nav class="navbar navbar-static-top nav-second-profile">
	<div class="container">
		<div id="" class="">
			<ul class="nav navbar-nav">
				<li><a href="#">Dashboard</a></li>
				<li><a href="#">Inbox</a></li>
				<li><a href="#">Listing</a></li>
				<li><a href="#">Trips</a></li>
				<li class="<%= 'active' if obj == 'profile' %>"><%= link_to 'Profile', profile_path %></li>
				<% if current_user.status == 'merchant' %>
					<li class="<%= 'active' if obj == 'accounts' %>"><%= link_to 'Accounts', accounts_path %></li>
				<% end %>
			</ul>
		</div>
		<!--/.nav-collapse -->
	</div>
</nav>