<div class="page-wrapper">
	<%= render 'banner_section' %>
	<%= render 'product_section' %>
	<%= render 'explore_section' %>
</div>

<script type="text/javascript">
	
</script>

<style>
	/*the dropdown*/
	.caret-up {
		width: 0; 
		height: 0; 
		border-left: 4px solid rgba(0, 0, 0, 0);
		border-right: 4px solid rgba(0, 0, 0, 0);
		border-bottom: 4px solid;

		display: inline-block;
		margin-left: 2px;
		vertical-align: middle;
	}
	/*the dropdown*/


	.trending-list { width:235px; display:inline;}
	.trending-list a{ border-bottom: 2px dashed #F4511E;
		color: #F4511E;}
		.select-trending {border-bottom: 1px dashed #30a0ff;}
		ul.dropdown-menu {
			background-color: #fff;
			-webkit-background-clip: padding-box;
			background-clip: padding-box;
			border: 1px solid #ccc;
			border: 1px solid rgba(0,0,0,.15);
			border-radius: 1px;
			-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
			box-shadow: 0 6px 12px rgba(0,0,0,.175);
			z-index: 999;
			display: none;
		}
		.trending-list .dropdown-menu > li > a {
			border-bottom: 1px solid rgba(0,0,0,.15);
			color: #000; text-align:left;
		}
		section * {
			z-index: inherit;
		}
		/*explore landing user center*/
		.user-thumb-center { border:2px solid #FFF;}
		.explore-center-detail { position:absolute; top: 130px;
			left: 140px;}
			.explore-center-detail a{ text-align:center; color:#FFF;}
			.explore-center-detail .text-over-center-user{ font-size:14px; line-height:20px;}
			.explore-center-detail .text-over-center-place{ font-size:24px;line-height:26px;}
			/*explore landing user center*/
			/*existing style*/
			.navbar .navbar-toggle {
				margin: 26px 0 10px;
				color: white;
				background: none;
				padding: 0;
				width: 30px;
				height: 30px;
				background: image-url("common-files/icons/menu-icon-header-8.png") 50% no-repeat;
			}
			.header-10 .navbar .brand { margin-top: -9px;padding-top: 0;}

			.header-10 {
				background:#FFF;
			}   
			.header-10 .navbar .nav > li > a {    color: #000;}

			.content-8 {
				padding-top: 40px;
				padding-bottom: 80px;
			}
			.content-7 {
				padding-top: 100px;    padding-bottom: 20px;
			}
			.product-card p.price {
				background: rgba(60,63,64,0.9);
				min-width: 100px;
				padding: 6px 16px;
				color: #fff;
				font-size: 18px;
				position: absolute;
				top: 267px;
			}
			.discount {    font-size: 16px;
				color: #CCC;}
				.user-thumb {
					position: absolute;
					top: 320px;
					left: 295px;
				}
				.product-card {
					margin-bottom: 20px;
					position: relative;
				}
				.product-card p {
					font-size: 16px;
					font-weight: normal;
					color: #7f8c8d;
					margin-bottom: 20px;
				}
				.product-card h4 a{
					text-align: center;
					font-size: 20px;
					font-weight: normal;
					color: #34495e;
					font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
					margin-top: 70px;
				}
				.product-card h4 {margin-bottom: 0;}
				.content-23 {
					height: 514px;
				}
			.content-23 #bgVideo > video {/*height:0; width:0;*/}
			.background {opacity: 0.5;}
			.form-control {
				border: 0;
				border-radius: 1px;
			}
			.btn-search{    border-radius: 1px;
				margin-left: -4px;background: #FF5722;}
				.btn-search:hover{ background:#BF360C;}
				.content-23 #bgVideo > video {
					position: absolute !important;
					top: -140px !important;
				}
				.location-search { }
				.global-search { width:500px;    margin-left: -118px;
					border-left: 1px solid #CCC;}
					.input-group-btn{
						position: static;}
						.dropdown-menu{
						}
						.input-group-btn .drop-places { border-radius: 1px; background: #FFF;}
						.input-group-btn .drop-places:hover, active{ background: #FFF;}
						.btn-default .caret {
							border-top-color: #CCC;
						}		 
						.location-search .dropdown-menu {
							background-color: #FFF;
							border-radius: 0;
							border-color: #ccc;
						}
						.location-search .dropdown-menu li > a:hover, .dropdown-menu li > a:active, .dropdown-menu li > a:focus {
							color: #000;
						}
						.location-search .open > .dropdown-menu {
							margin-top: -1px !important;
							text-align: left;
							width: 351px;
						}
						/*existing style*/
						/*content-8*/
						.wide-text-over {
							position: absolute;
							top: 150px;
							left: 320px;
							z-index: 99;font-size:32px; color:#FFF; font-weight:bold;
						}
						.wide-text-over:hover {color:#FF5722;}
						/* Portrait phones and smaller */
						@media (max-width: 480px) {
							.wide-text-over {
								top: 70px;
								left: 90px;
							}
						}
						.text-over {
							position: absolute;
							top: 150px;
							left: 100px;
							z-index: 99;
							font-size:32px; color:#FFF; font-weight:bold;
						}
						.text-over:hover{ color:#FF5722;}
						.explorestacks { padding:15px 15px}
						/*content-8*/
						/*Footer*/
						.bottom-below-footer { margin-top:100px;}
						
						.btn-currency { border-radius:1px; background:none; border:1px solid #999;}
						.btn-currency:hover, focus, active {background:none;}
						.btn-currency:hover,active {  background:none;}
						.open > ul.currency-dropdown-menu {
							margin-top: 0;
						}
						.open .dropdown-toggle.btn-default.btn-currency {
							background: #000;
						}
						
						/*Footer*/
						
						
						
						
						.open .dropdown-toggle.btn-default {
							background: #FFF;
						}
						.btn-destination { padding:10px;    border:1px solid #c4c4c4;
							background: white; border-radius:1px;
							color: #565a5c;}
							.btn-destination:hover {color: #FF5722; border:1px solid #FF5722;}
							.all-destinations-sections { margin-top:40px;}

						
						</style>