<section class="header-10-sub v-center ">
	<div class="background">
		&nbsp;
	</div>
	<div>
		<div class="container">
			<div class="hero-unit">
				<h1>Earn up to $100 for everyone you invite.</h1>
				<p>
					Invite Your Email Contacts
				</p>
			</div>
		</div>
	</div>
</section>
<!-- About Merchant  -->
<section class="content-7 invitefriends-content">
	<div class="row">
		<div class="col-md-10 col-xs-offset-2">

			<h6>Send a friend $20 Travelog credit. You'll get $20 when they travel and $80 when they host. <a href="#">Learn More</a></h6>
			<div class="col-md-12 text-center">
				<a href="">Referrals Terms and Conditions</a>
			</div>

			<div class="col-md-6">
				<%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post, :class => 'form-inline'} do |f| %>

					<div class="form-group">
						<input type="text" class="form-control" name="user[email]" id="user_email" placeholder="Enter email addresses saperated by comma">
					</div>
					<button type="submit" class="btn btn-shareemail">Send</button>
				<% end %>
				<h6> Import contacts from Gmail</h6>
				<p>Travelog stores these contacts so you can easily send anything to your friends. To remove them, visit your account settings.</p>
			</div>
			<div class="col-md-6">
				<form class="form-inline">
				
					<div class="form-group">
						<input type="password" class="form-control" id="" placeholder="www.travelog.com/c/macv3?s=8">
					</div>

					<button type="submit" class="btn btn-sharefacebook">Facebook</button>
				</form>

			</div>

		</div>
		<!--booking-->
		<!--booking-->
	</div>
</section>